example0001-1.png
example.aux
example.log
example.pdf
example.tex
first0001-1.png
first.aux
first.log
first.pdf
first.tex
main.go
neurovirus.aux
neurovirus.log
neurovirus.pdf
neurovirus.tex
__pycache__
.vim
init.py.bak
